sentence-transformers
langchain
torch
transformers
pypdf
python-dotenv
pinecone-client
langchain-community
langchain-google-genai
langchain-experimental
langchain-huggingface
langchain-pinecone
langchain-core
langchain-text-splitters
langgraph
ddgs
streamlit
fastapi[standard]
google-genai
pydantic
SQLAlchemy
alembic
psycopg2-binary
# -e .
