sentence-transformers
langchain
torch
transformers
pypdf
python-dotenv
pinecone-client
langchain-community
langchain-google-genai
langchain-experimental
langchain-huggingface
langchain-pinecone
langgraph
ddgs
streamlit
langchain-text-splitters
fastapi[standard]
google-genai
pydantic
SQLAlchemy
alembic
psycopg2
# -e .
